
# Android
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


/.project
#.DS_Store
~*
*.swp
*.log
.idea

#.gradle
#gradle

gradle.properties
local.properties

#.idea
build
captures
gradle-app.setting
#*.iml
logs/
app/src/main/assets/ShareSDK.xml
src/main/assets/
